*{
    box-sizing: border-box;
}
/* ------ Navbar---------*/
.navbar-brand{
    margin-right: 10%;
}
.card{
    margin-top: 1%;
    padding: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
} 

footer{
    background-color: black;
    padding: 1%;
}
.pfooter{
    color: #fff;
    text-align: center;
}

@media only screen and (min-width: 768px){
    .imgslide{
        max-width: 80%;
        padding: 1%;
        margin: 0 0 0 10%;
        
    }
    
}